.button {
    display: block;
    width: 211px;
    height: 49px;
    align-self: center;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 60px;
    color: #FF970A;
    font-weight: 500;
    font-size: 15px;
    line-height: 15px;
    letter-spacing: 0.08em;
    cursor: pointer;
}