@font-face {
    font-style: normal;
    font-weight: 400;
    font-family: "SF UI Display";
    font-display: swap;
    src: url("../fonts/SF-UI-Display.woff2") format("woff2"), url("../fonts/SF-UI-Display.woff") format("woff");
  }

  @font-face {
    font-style: normal;
    font-weight: 700;
    font-family: "SF UI Display";
    font-display: swap;
    src: url("../fonts/SF-UI-Display-bold.woff2") format("woff2"), url("../fonts/SF-UI-Display-bold.woff") format("woff");
  }
