@mixin btn {
background: linear-gradient(52.76deg, #FF9A10 18.82%, #FF9519 77.36%);
box-shadow: 0px 3px 15px rgba(255, 151, 10, 0.41);
border-radius: 41px;
font-weight: 600;
font-size: 15px;
line-height: 15px;
letter-spacing: 0.045em;
text-transform: uppercase;
}

