$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// -------------------------- desktop
$desktop_min_width: 1024px;

// -------------------------- mobile
$mobile_width: 320px;

// -------------------------- basic colors
$basic_light: #ffffff;
$basic_dark: #000000;
$basic_grey: #C0C0C0;
$basic_orange: #FF9618;
